POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=change-me
HOST=db
ODOO_DOMAIN=odoo.example.com
EMAIL_DOMAIN=mail.example.com
LETS_ENCRYPT_EMAIL=admin@example.com

# Odoo-mailer configuration
ODOO_API_KEY=change-me
ODOO_USERID=2